.message {
    color: #FF0000;
}

.title {
    color: #00A4FF;
}

.notification {
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    background-color: #00FF00;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 1s;
}

.notification:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
