.container {
    border: 3px solid #0000DD;
    padding: 5px;
    margin: 5px;
    max-width: 25%;
}

.title {
    color: #FF55FF;
}

.input {
    width: 100%;
}

.label {
    padding-right: 5px;
}

.form {
    border: 2px dotted #0033DD;
    padding: 5px;
    margin: 5px;
}

.input_group {
    display: flex;
}
