.container {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 15%;
    top: 75%;
    left: 80%;

    background-color: #FF00FF;
    
}

.text {
    color: #8855FF;
}
